<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario</title>
 
</head>
<body>
  <header> 
    <p>Tecnico en sistemas microinformatico y redes</p>
    
</header>
<main>
  <form action="/submit" method="post" class="form-container">
    <h2>Contacto</h2>
    <div class="form-content">
      <div class="izquierda">
        <label for="telefono">Teléfono:</label>
        <input type="tel" id="telefono" name="telefono" placeholder="Ingrese su número de teléfono" required>

        <label for="gmail">Gmail:</label>
        <input type="email" id="gmail" name="gmail" placeholder="Ingrese su correo de Gmail" pattern="[a-z0-9._%+-]+@gmail\.com" required>

        <label for="especialidad">Especialidad:</label>
        <select id="especialidad" name="especialidad" required>
          <option value="" disabled selected>Seleccione una opción</option>
          <option value="desarrollo-web">Desarrollo Web</option>
          <option value="ciberseguridad">Ciberseguridad</option>
          <option value="soporte-tecnico">Soporte Técnico</option>
          <option value="inteligencia-artificial">Inteligencia Artificial</option>
          <option value="redes">Redes</option>
        </select>
      </div>

      <div class="derecha">
        <label for="instagram">Instagram:</label>
        <input type="text" id="instagram" name="instagram" placeholder="Ingrese su usuario de Instagram">

        <label for="twitter">Twitter:</label>
        <input type="text" id="twitter" name="twitter" placeholder="Ingrese su usuario de Twitter">

        <label for="skype">Skype:</label>
        <input type="text" id="skype" name="skype" placeholder="Ingrese su usuario de Skype">
      </div>
    </div>
    <button type="submit">Enviar</button>
  </form>
  <div class="mapa-container">
    <h2>Ubicación</h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1807.7939901623633!2d-1.8238370807795352!3d37.173789481198!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2ses!4v1739474972656!5m2!1ses!2ses" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
</main>
<footer>
  <a href="/">Home</a>
</footer>
</body>
</html>